<div class="php-badges">
{{ source(".i/badges/PHP_5.6-incompatible.svg") }}&nbsp;
{{ source(".i/badges/PHP_7.0-incompatible.svg") }}&nbsp;
{{ source(".i/badges/PHP_7.1-supported.svg") }}
{{ source(".i/badges/PHP_7.2-untested.svg") }}&nbsp;
</div>