<h2 id="supported-php-versions">Supported PHP Versions</h2>

<table>
    <thead>
        <tr>
            <th>PHP Version</th>
            <th>Supported?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>7.1.x</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>7.2.x</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>
