<h3 id="example-1--merge-two-arrays">Example 1: Merge Two Arrays</h3>

<p>This example shows what happens when we combine two associative arrays.
Note how the values in <code>$extra</code> overwrite the original values
in <code>$target</code>.</p>

<pre><code class="language-php">
$target = [
    "fish" => "trout",
    "name" => "harry",
    "action" => "met",
];

$extra = [
    "fish" => "salmon",
    "name" => "sally"
];

$newList = array_merge_keys($target, $extra);
var_dump($newList);
</code></pre>
<p>The code above produces this output on PHP v5.6.30, PHP v7.0.18, PHP v7.1.4:</p>

<pre>
array(3) {
  ["fish"]=>
  string(6) "salmon"
  ["name"]=>
  string(5) "sally"
  ["action"]=>
  string(3) "met"
}
</pre>