<h3 id="example-1--get-public-properties">Example 1: Get Public Properties</h3>

<p>This example shows you how to get the public properties of a class.</p>

<pre><code class="language-php">
$props = get_class_properties(ExampleClass::class);
var_dump($props);
</code></pre>
<p>The code above produces this output on PHP v5.6.30, PHP v7.0.18, PHP v7.1.4:</p>

<pre>
array(2) {
  ["value1"]=>
  string(25) "I am public static value1"
  ["trait1"]=>
  string(25) "I am public static trait1"
}
</pre>