/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e0db;
}

.hljs-meta {
  color: #b294bb;
}

.hljs-comment,
.hljs-quote {
  color: #969696;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition,
.hljs-doctag {
  color: #e09146;
}

.hljs-number,
.hljs-string,
.hljs-literal,
.hljs-regexp {
  color: #8abeb7;
}

.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #a4c460;
}
.hljs-class .hljs-title {
  font-style: italic;
}

.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type {
  color: #b58900;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-function .hljs-params {
    color: #f8fa83;
}
