Function contracts are built from this function's unit tests.

<div class="callout success">
Future releases of this function will not break this contract.
</div>

<div class="callout info" markdown="1">
Future releases of this function may add to this contract. New additions may include:

* clarifying existing behaviour (e.g. stricter contract around input or return types)
</div>

<div class="callout warning" markdown="1">
When you use this function, you can only rely on the behaviours documented by this contract.

If you:

* find other ways to use this function,
* or depend on behaviours that are not covered by a unit test,

... your code may not work in the future.
</div>