<h3 id="example-2--reusable-object">Example 2: Reusable Object</h3>

<p>You can instantiate a ListCheck object. Use this to apply the same conditions
to multiple lists.</p>

<pre><code class="language-php">
$rangeCheck = new IsInRange(10, 20);

$list1 = [ 11, 13 ];
$list2 = [ 5, 14 ];

var_dump($rangeCheck->inspectList($list1));
var_dump($rangeCheck->inspectList($list2));
</code></pre>
<p>The code above produces this output on PHP v5.6.30, PHP v7.0.19, PHP v7.1.5:</p>

<pre>
bool(true)
bool(false)
</pre>