<h3 id="example-1--has-public-properties">Example 1: Has Public Properties</h3>

<p>This example shows you how to check if a class has public properties.</p>

<pre><code class="language-php">
use GanbaroDigital\MissingBits\ClassesAndObjects\HasClassProperties;

$props = HasClassProperties::check(ExampleClass::class);
var_dump($props);
</code></pre>
<p>The code above produces this output on PHP v5.6.30, PHP v7.0.19, PHP v7.1.5:</p>

<pre>
bool(true)
</pre>